/* 구글 폰트 적용 */
@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);
@import url(http://fonts.googleapis.com/earlyaccess/jejuhallasan.css);

/* 리셋 */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'jejuhallasan';
}

ul,
li {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

html,
body {
	height: 100%;
}

body {
	display: flex;
	flex-direction: column;
	text-align: center;
}

/* 헤더 */
header {
	display: flex;
	position: relative;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 1rem;
	background: #DA0037;
}

.logo {
	font-family: 'jejuhallasan', sans-serif;
	font-size: 35px;
	font-weight: bold;
	color: rgb(41, 40, 40);
}

/* 드롭다운 메뉴 */
nav {
	display: block;
	width: 100%;
}

.menu {
	display: flex;
	text-align: center;
	margin-left: auto;
}

.menu li {
	display: block;
	padding: 1rem 2rem;
	margin: 0 auto;
	font-size: 20px;
	width: 15%;
}

.menu li a {
	color: #fff;
	font-size: 20px;
	font-weight: bold;
}

nav li:hover {
	background: rgb(41, 40, 40, 0.8);
}

/* 서브메뉴 */
.sub_menu {
	position: absolute;
	top: 80%;
	left: 0;
	/* 같은 위치에서 시작 */
	width: 100%;
	/* 풀메뉴 */
	margin: 0 auto;
	overflow: hidden;
	display: none;
}

.sub_menu .sub {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;
	/* 세로 정렬 */
	font-weight: bold;
}

.sub li {
	display: inline-block;
	color: #fff;
	width: 100%;
	font-size: 18px;
}

.sub li:hover {
	background: none;
}

.sub li a {
	font-size: 18px;
}

.menu li:hover .sub_menu {
	display: flex;
	background: #DA0037;
	opacity: 0.9;
	transition: .3s ease-in;
	z-index: 999;
}

/* 서브 메뉴 글자색 변경 */
.sub_menu li a:hover {
	color: rgb(41, 40, 40);
}

/* 내용 */
main {
	position: relative;
	top: 20px;
	background: #ffffff;
	min-height: 300vh;
}

/* 메인 베너 */
.swiper-container {
	width: 100%;
	height: 500px;
}

.swiper-slide {
	text-align: center;
	display: flex;
	align-items: center;
	justify-content: center;
}

.swiper-slide img {
	display: inline-block;
	width: 100%;
	height: 500px;
	object-fit: cover;
}

/*
.swiper-pagination {
	position: absolute;
	height: 25% !important;
	left: 50% !important;
}
*/

.swiper-pagination-bullet {
	padding: 6px 6px;
	text-align: center;
	opacity: 1;
	margin: 10px 10px !important;
	background: rgba(0, 0, 0, 0.8) !important;
}

.swiper-pagination-bullet-active {
	background: red !important;
}

/***** 메인 베너 *****/
.app_banner {
	position: relative;
	width: 100%;
	height: 350px;
	top: 25px;
	text-align: left;
	background: #d8d4d5;
	overflow: hidden;
}

.app_banner h2 {
	display: block;
	padding: 40px 250px;
}

.app_banner p {
	display: block;
	margin: -40px 250px;
	font-size: 17px;
}

.app_banner button {
	width: 51px;
	height: 48px;
	margin: 50px 250px;
	border-radius: 25px;
	background-image: url(../image/plus.png);
	background-repeat: no-repeat;
	border: none;
}

.app_banner button:hover {
	transform: rotate(360deg);
	transition: .2s ease-in;
	background-image: url(../image/cflogo.png);
	background-size: 80%;
	background-position: center;
}

/* 플레이스토어 */
.app {
	background: url(../image/playstore.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 15%;
	left: 45%;
	width: 260px;
	height: 250px;
}

.app:hover {
	background: url(../image/app.png);
	background-size: cover;
	transition: .3s ease-in;
	width: 260px;
	height: 250px;
}

.app_text p {
	position: absolute;
	top: 50%;
	right: -10%;
	font-size: 50px;
	font-weight: 700;
	color: #3e25ad;
	animation: blink .8s infinite;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* article */
article {
	position: relative;
	width: 100%;
	height: 450px;
	top: 50px;
	overflow: hidden;
}

article.left {
	width: 58%;
	float: left;
	box-sizing: border-box;
	background: rgb(242, 255, 127);
}

article.left img {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	transition: all 0.3s linear;
}

article.left img:hover {
	transform: scale(1.1);
}

article.left h2 {
	position: relative;
	left: 10%;
	top: 10%;
	text-align: left;
	font-weight: bold;
	color: #2a7440;
}

article.left h2:nth-child(5) {
	color: #ad2525;
}

article.left h2:nth-child(6) {
	color: #ad2525;
}

article.right {
	width: 41.5%;
	float: right;
	box-sizing: border-box;
	background: #363947;
}

article.right img {
	position: absolute;
	width: 100%;
	left: 0px;
	bottom: 0px;
	transition: all 0.3s linear;
}

article.right img:hover {
	transform: scale(1.1);
}

article.right h2 {
	position: relative;
	left: 10%;
	top: 10%;
	text-align: left;
	font-weight: bold;
	color: #e9df50;
}

article.right h2:nth-child(5) {
	color: #ff7535;
}

article.right h2:nth-child(6) {
	color: #ff7535;
}

/* text 롤링 */
.marquee {
	position: relative;
	width: 100%;
	height: 60px;
	top: 75px;
	font-size: 38px;
	font-weight: bold;
	overflow: hidden;
	border: 5px red;
	border-style: solid none solid none;
}

.track {
	position: absolute;
	height: 100%;
	overflow: hidden;
	white-space: nowrap;
	transition: .3s ease-out;
}

.track .text {
	width: 350px;
	animation: marquee 3000ms linear infinite;
	align-items: center;
	display: inline-flex;
	justify-content: center;
	/* 가운데 */
	color: firebrick;
	will-change: transform;
}

@keyframes marquee {
	from {
		transform: translateX(0);
	}

	to {
		transform: translateX(-100%);
	}
}

/* 베스트 드링크 */
.drink_div {
	position: relative;
	width: 100%;
	height: 500px;
	top: 80px;
	font-size: 18px;
	background-image: url(../image/bg_best.png);
}

.p_card {
	position: absolute;
	margin: 60px 15px;
	text-align: left;
	height: 100px;
}

.drink_div h3 {
	color: #8959c9;
	font-weight: bold;
}

.drink_div span {
	color: #000;
	font-weight: bold;
}

.best_img {
	width: 35%;
	height: 230px;
	margin-top: 12%;
	transition: all 0.5s linear;
}

.best_img:hover {
	transform: scale(1.2);
}

.p_drink1 {
	position: relative;
	top: 5%;
	left: 7%;
	float: left;
	/* 먼저 쓴 색의 퍼센트가 높으면 그라이데이션 안됨 */
	background: linear-gradient(to bottom, rgba(65, 64, 64, 0.8) 70%, pink 30%);
	width: 400px;
	height: 450px;
	margin: 0px 30px;
}

.p_drink2 {
	position: relative;
	top: 5%;
	left: 7%;
	float: left;
	background: linear-gradient(to bottom, rgb(65, 64, 64, 0.8) 70%, pink 30%);
	width: 400px;
	height: 450px;
	margin: 0px 30px;
	display: none;
}

.p_drink3 {
	position: relative;
	top: 5%;
	left: 7%;
	float: left;
	background: linear-gradient(to bottom, rgb(65, 64, 64, 0.8) 70%, pink 30%);
	width: 400px;
	height: 450px;
	margin: 0px 30px;
	display: none;
}

.p_drink4 {
	position: relative;
	top: 5%;
	left: 7%;
	float: left;
	background: linear-gradient(to bottom, rgb(65, 64, 64, 0.8) 70%, pink 30%);
	width: 400px;
	height: 450px;
	margin: 0px 30px;
	display: none;
}

@keyframes blink {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

/* 라디오 버튼 */
.radio_div {
	position: relative;
	top: 85px;
	height: 50px;
	text-align: center;
	background: #FAFAFA;
}

.radio_div label {
	margin: 0 5px;
}

input[type="radio"] {
	display: none;
	/* label에 속성을 주고 input에 display:none이면 클릭시 스크롤 위로 안올라감 */
}

input[type="radio"]+span {
	position: relative;
	display: inline-block;
	width: 15px;
	height: 15px;
	top: 20px;
	border-radius: 50px;
	background: #fff;
	border: 2px solid black;
	transition: all .5s ease-out;
}

input[type="radio"]:checked+span {
	width: 30px;
	height: 15px;
	border-radius: 50px;
	background: #ff0000;
}
/*****라디오 버튼******/

/* 이벤트 글자 div */
.event_div {
	position: absolute;
	width: 100%;
	height: 200px;
	bottom: 5%;
}

.event_div span {
	font-size: 30px;
	color: #ad2525;
}

.event_div p {
	color: #a39e9e;
}

.event_div hr {
	width: 60px;
	height: 1px;
	margin: 10px auto;
	background-color: #DA0037;
}

.event_div button {
	width: 50px;
	height: 50px;
	margin: 10px 0px;
	border-radius: 50px;
	background: #ad2525;
	border: none;
}

.event_div button img {
	display: block;
	margin: 0 auto;
}

.event_div button:hover {
	background: white;
	border: 2px solid black;
	transform: rotate(360deg);
	transition: .2s ease-in;
}

/* footer */
footer {
	position: relative;
	width: 85%;
	bottom: 0px;
	margin: 0 auto;
	background: #FAFAFA;
	border-top: 7px solid #DA0037;
}

footer ul {
	position: relative;
	float: left;
	margin-left: 15%;
}

footer li {
	color: #928787;
	font-size: 12px;
	line-height: 38px;
}

footer li:nth-child(1) {
	color: #000;
	font-size: 15px;
}

footer li:hover {
	color: rgb(41, 40, 40);
}

footer .li_sns {
	display: inline-block !important;
}

footer .li_sns>img {
	width: 30px;
	height: 30px;
	border: 2px solid #d1d1d1;
	border-radius: 50%;
}

footer .li_sns:hover img {
	border: 2px solid #A62D4D;
}

hr {
	width: 80%;
	display: block;
	margin: 0 auto;
}

.ft_text {
	display: block;
}

.ft_text {
	color: #616060;
	font-size: 12px;
}

.content_line {
	font-size: 12px;
	text-decoration: underline;
}

/* Qr코드 */
.content_line .qr_img {
	width: 18px;
	height: 18px;
}

/*****footer*****/

/* Top 버튼 */
.top_btn {
	position: fixed;
	bottom: 40px;
	right: 40px;
}

.top_btn img {
	width: 40px;
	height: 40px;
	border-radius: 25px;
}

.top_btn img:hover {
	opacity: 0.7;
}

@media screen and (max-width: 1399px) {
	.app_banner {
		top: 20px;
	}

	/* 플레이스토어 */
	.app {
		top: 15%;
		left: 50%;
	}

	.app_text p {
		top: 55%;
		right: -15%;
		font-size: 30px;
	}

	article {
		top: 40px;
	}

	/* text 롤링 */
	.marquee {
		top: 60px
	}

	.drink_div {
		top: 65px;
	}

	/* 음료 이미지 */
	.best_img {
		height: 200px;
	}

	.p_drink1 {
		width: 300px;
		height: 400px;
		margin: 50px 32px;
	}

	.p_drink2 {
		width: 300px;
		height: 400px;
		margin: 50px 32px;
	}

	.p_drink3 {
		width: 300px;
		height: 400px;
		margin: 50px 32px;
	}

	.p_drink4 {
		width: 300px;
		height: 400px;
		margin: 50px 32px;
	}

	.event_div {
		position: absolute;
		bottom: -23.5%;
	}

	/* footer */
	footer {
		position: relative;
		bottom: -80%;
	}

	hr {
		display: flex;
		margin: auto;
	}

	.ft_text {
		margin-left: 12%;
		margin-right: -8%;
	}

	/* Top 버튼 */
	.top_btn {
		bottom: 40px;
		right: 40px;
	}
}

@media screen and (min-width: 320px) and (max-width: 800px) {
	html, body {
		max-width: 100%;
		overflow: hidden;
	}

	/* footer */
	footer {
		position: relative;
		bottom: -80%;
	}
}