@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=bagel+fat+one&family=black+han+sans&family=grandiflora+one&display=swap');

/* desktop (large) */
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

a {
	color: #000;
	text-decoration: none;
}

body {
	font-family: 'black han sans', sans-serif;
}

#wrap {width: 100%;}

header {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 0 auto;
	width: 100%;
	padding: 1rem;
	background-color: #fbe100;
}

.logo {
	width: 50px;
	height: 50px;
	margin-top: 10px;
}

nav {
	display: block;
	width: 100%;
}

.nav_toggle,
.toggle_menu {
	display: none;
}

.menu {
	display: flex;
	text-align: center;
	margin-left: auto;
}

.menu li {
	display: block;
	padding: 1rem 2rem;
	margin: 0 auto;
	font-size: 20px;
	width: 15%;
}

.menu li a {
	color: #0c0c0e;
	font-size: 20px;
}

nav li:hover {
	background: rgb(41, 40, 40, 0.8);
}

.sub_menu {
	position: absolute;
	top: 80%;
	left: 0;

	width: 100%;

	margin: 0 auto;
	overflow: hidden;
	display: none;
}

.sub_menu .sub {
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	text-align: center;

	font-weight: bold;
}

.sub li {
	display: inline-block;
	color: #0c0c0e;
	width: 100%;
	font-size: 18px;
}

.sub li:hover {
	background: none;
}

.sub li a {
	font-size: 18px;
}

.menu li:hover .sub_menu {
	display: flex;
	background-color: #fbe100;
	opacity: 0.9;
	transition: .3s ease-in;
	z-index: 999;
}

.sub_menu li a:hover {
	color: #fff;
}

main {
    height: auto;
}

/* 메인 베너 */
.swiper-container {
	width: 100%;
	height: 700px;
}

.swiper-slide img {
	width: 100%;
	height: 700px;
}

.swiper-pagination {
	position: absolute;
	height: 5% !important;
	left: 0% !important;
}

.swiper-pagination-bullet {
	padding: 7px 7px;
	text-align: center;
	opacity: 1;
	margin: 10px 10px !important;
	background-color: white !important;
}

.swiper-pagination-bullet-active {
	background-color: #572A31 !important;
}

/* 플레이스토어 */
.app_banner {
	position: relative;
	width: 100%;
	padding: 3%;
	margin: 0 auto;
	text-align: left;
	background-color: #572A31;
}

.app_banner h2 {
	margin-top: 10px;
	display: inline-block;
	font-size: 2rem;
}

/* 구글플레이 */
.app {
	background: url(../image/playstore.png) no-repeat;
	background-size: cover;
	position: absolute;
	top: 50px;
	right: 10%;
	width: 82px;
	height: 80px;
}

.app:hover {
	background: url(../image/logo.png);
	background-size: cover;
	transition: .3s ease-in;
	border-radius: 26px;
	width: 85px;
	height: 80px;
}

/* article */
.juice_left {
	position: relative;
	width: 55%;
	top: 15%;
	padding: 5%;
	float: left;

	overflow: hidden;
	background-color: #e9df50;
}

.juice_left h2 {
	position: relative;
	right: -5%;
	top: 10%;
	font-size: 2em;
	text-align: right;
	font-weight: bold;
	color: #2a7440;
}

.juice_left h2:nth-child(5),
.juice_left h2:nth-child(6) {
	font-size: 1.5em;
	color: #ad2525;
}

.juice_left img {
	position: absolute;
	width: 60%;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	transition: all 0.3s linear;
}

.juice_left img:hover {
	transform: scale(1.1);
}

.juice_right {
	position: relative;
	width: 45%;
	top: 25%;
	padding: 5%;
	float: right;

	overflow: hidden;
	background-color: #363947;
}

.juice_right h2 {
	position: relative;
	right: -8%;
	top: 10%;
	text-align: right;
	font-size: 2em;
	font-weight: bold;
	color: #e9df50;
}

.juice_right h2:nth-child(5),
.juice_right h2:nth-child(6) {
	font-size: 1.5em;
	color: #ff7535;
}

.juice_right img {
	position: absolute;
	width: 70%;
	left: 0px;
	bottom: 0px;
	overflow: hidden;
	transition: all 0.3s linear;
}

.juice_right img:hover {
	transform: scale(1.1);
}

/* 음료 메뉴*/
.drink_div {
	position: relative;
	width: 100%;
	height: auto;
	float: right;
	text-align: center;
	font-size: 18px;
	background-position: center;
	background-size: cover;
	background-image: url(../image/cafe.png);
}

.drink_div .cf_text {
	position: relative;
	padding: 5%;
	margin-left: 55%;
	display: inline-block;
	font-weight: bold;
	font-size: 1.7rem;
	color: #572a31;
}

/* 위에서 아래로 */
.indown {
	transform: translate(0, -100px);
}

/* 모바일 메뉴 버튼 */
.m_btn {
	text-align: center;
	margin-bottom: 5%;
	margin-left: 55%;
}

.m_btn button {
	width: 200px;
	height: 50px;
	display: inline-block;
	font-size: 1.2rem;
	color: #ffffff;
	border: 5px solid white;
	background: rgb(41, 40, 40, 0.5);
}

.m_btn button:hover {
	color: #000000;
	background: rgb(255, 255, 255);
}

/* footer */
footer {
	width: 100%;
	height: auto;
	bottom: 0px;
	color: #572a31;
	text-align: center;
	background: #efefef;
}

footer ul {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 35%;
	margin: 20px 80px;
}

.u_center {
	text-align: left;
	font-size: 13px;
	line-height: 40px; 
	width: 20%;
}

.u_center li {
	font-weight: 100;
	font-size: 35px;
}

.l_list {
	width: 30%;
	line-height: 35px;
}

.l_list li { 
	display: flex;
	flex-wrap: wrap;
	font-size: 17px; 
}

.l_list li::after {
	content: "ㆍ";
}

/* 점 제거 */
.l_list li:nth-child(5)::after {
	content: "";
}

.l_list li:nth-child(8)::after {
	content: "";
}

.sns {
	width: 12%;
}

.sns li {
	width: 5%;
	margin: 0 15px;
}

.sns li img {
	width: 35px;
	height: 35px;
}

.sns li:hover img {
	opacity: 0.7;
}

.copy {
	display: inline-block;
	text-align: left;
	color: #222;
	margin: 0 auto;
	padding-left: 4%;
}

.top_btn {
	position: fixed;
	right: 30px;
	bottom: 30px;
}

.top_btn img {
	width: 50px;
	height: 50px;
}

.top_btn img:hover {
	opacity: 0.9;
}

/* 모바일(세로) */
@media (max-width: 576px) {
	nav {
		display: none;
	}

	/* 햄버거 메뉴 */
	.nav_toggle {
		position: absolute;
		width: 38px;
		display: block;
		border: none;
		background: none;
	}

	.nav_toggle.active {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.nav_toggle.active:hover {
		filter: opacity(0.2) drop-shadow(0 0 0 #c48181);
	}

	.nav_icon {
		position: absolute;
		top: -10px;
		width: 2rem;
		height: 1.4rem;
	}

	.nav_icon span {
		position: absolute;
		width: 100%;
		height: 0.1rem;
		background-color: rgb(41, 40, 40);
		display: block;
		transition: all .3s ease-in-out;
	}

	.nav_icon span:nth-of-type(1) {
		top: 0;
	}

	.nav_icon span:nth-of-type(2) {
		top: 45%;
		width: 15px;
	}

	.nav_icon span:nth-of-type(3) {
		bottom: 0;
		width: 25px;
	}

	/* 보여질 메뉴 */
	.toggle_menu {
		opacity: 0;

		/* active가 되면 보여짐 */
		font-size: 1.4rem;
	}

	.toggle_menu.active {
		opacity: 1;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	/* 사이드 메뉴 */
	.slide-wrap {
		position: fixed;
		left: 0;
		top: 0;
		z-index: 99;
		width: 500px;
		height: 100%;
		background: rgba(0, 0, 0, 0.8);
	}

	.slide-menu {
		position: relative;
		right: 0;
		width: 250px;
		height: 100%;
		text-align: left;
		font-weight: bold;
		background: #f6f6f6;
		overflow: hidden;
	}

	.slide-menu span {
		color: #222222;
		margin-top: 50px;
		margin-left: 25px;
		text-decoration: underline;
	}

	.slide-menu p {
		color: #ad2525;
		margin-top: 55px;
		margin-left: 25px;
		font-weight: 200;
	}

	.slide-menu hr {
		width: 100%;
		height: 1px;
		margin-top: 50px;
	}

	.slide-menu img {
		width: 220px;
		height: 80px;
		margin-top: 30px;
		margin-left: 15px;
	}

}

/* desktop 
@media (min-width: 992px) {
	.logo {
		font-size: 35px;
		font-weight: bold;
	}

	.nav_toggle,
	.toggle_menu {
		display: none;
	}

	.swiper-container {
		height: 600px;
	}

	.swiper-slide img {
		height: 600px;
	}

	.swiper-pagination {
		position: absolute;
		height: 5% !important;
		left: 0% !important;
	}

	.swiper-pagination-bullet {
		padding: 3px 3px;
		text-align: center;
		opacity: 1;
		margin: 10px 10px !important;
		border: 2px solid #ffffff;
		background: rgba(0, 0, 0, 0.8) !important;
	}

	.swiper-pagination-bullet-active {
		background: rgb(255, 255, 255) !important;
	}

	.app_banner h2 {
		padding: 40px 150px;
	}

	.app_banner p {
		margin: -40px 150px;
	}

	.app_banner button {
		margin: 50px 150px;
	}

	.app {
		top: 15%;
		right: 15%;
		width: 260px;
		height: 250px;
	}

	.app:hover {
		width: 260px;
		height: 250px;
	}

	.juice_left {
		height: 450px;
	}

	.juice_left h2 {
		font-size: 1.5rem;
	}

	.juice_left h2:nth-child(5),
	.juice_left h2:nth-child(6) {
		font-size: 1.2rem;
	}

	.juice_right {
		height: 450px;
	}

	.juice_right h2 {
		font-size: 1.5rem;
	}

	.juice_right h2:nth-child(5),
	.juice_right h2:nth-child(6) {
		font-size: 1.2rem;
	}

	.drink_div {
		height: 1000px;
	}

	.drink_div p {
		top: -40%;
		font-size: 8rem;
	}

	.m_btn {
		text-align: center;
	}
	
	.m_btn button {
		width: 200px;
		height: 50px;
		display: inline-block;
		font-size: 1.5rem;
		color: #ffffff;
		border: 5px solid white;
		background: rgb(41, 40, 40, 0.5);
	}

	.top_btn {
		bottom: 40px;
		right: 40px;
	}

	.top_btn img {
		width: 40px;
		height: 40px;
	}
}
*/